<h1>Sample App</h1>
<p>
	<a href="/static_pages/help">help</a>
	<br>
	<a href="/static_pages/contact">contact us</a>
	<br>
	<a href="/static_pages/about">about</a>
	<br>
	<br>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
